@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Green CED Ceará (Primary) */
  --color-primary-50: #ebfef2;
  --color-primary-100: #cefde1;
  --color-primary-200: #a1fac6;
  --color-primary-300: #65f2a4;
  --color-primary-400: #2ee280;
  --color-primary-500: #08c863;
  --color-primary-600: #009b49;
  --color-primary-700: #037c3e;
  --color-primary-800: #066234;
  --color-primary-900: #07502d;
  --color-primary-950: #032d18;

  /* Yellow/Orange CED Ceará (Secondary) */
  --color-secondary-50: #fff9eb;
  --color-secondary-100: #fff1c6;
  --color-secondary-200: #ffe188;
  --color-secondary-300: #ffcc4a;
  --color-secondary-400: #ffb11b;
  --color-secondary-500: #fa9704;
  --color-secondary-600: #dd7302;
  --color-secondary-700: #b75206;
  --color-secondary-800: #933f0d;
  --color-secondary-900: #7a350f;
  --color-secondary-950: #461a02;
}


